<h1>Welcome to Rock, Paper, Scissors</h1>
  <form action="/title">
    <div class="form-group">
       <label for="title">
       Enter your value:<br>
       <ul>
          <li>Rock - 0</li>
          <li>Paper - 1</li>
          <li>Scissors - 2</li>
       </ul>
  </label>
       <input id="title" name="title" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Play!</button>
  </form>